.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #333;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

body {
  color: #333;
}

input {
  display: block;
  border-radius: 3px;
  width: 100%;
  background-color: rgba(245,245,245, 0.75);
}

button {
  display: block;
}

.flex-container {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.flex-container.horiz {
  flex-direction: row;
  justify-content: space-between;
}

.flex-container.vert {
  flex-direction: column;
  justify-content: space-around;
}

form {
  background-color: #CCC;
  margin-top: 50px;
  padding: 25px;
  width: 75%;
}

.dropzone {
  border: 1px solid #333;
  height: 100px;
  width: 100px;
  /*margin-top: 25%;*/
}

.inputs {
  margin-left: 7%;
  /*background-color: blue;*/
}

.submit {
  width: 25%;
  margin-top: 5%;
  background-color: white;
  border: 1px solid #333;
}
